$color: #868F8E; $f-size: 14px;

.ft {
  background-color: #38444A;
  font-size: $f-size;
  color: $color;
  padding: 30px 20px;
  text-align: center;
  &__ctn-text {
    margin-bottom: 10px;
  }

  &__text {
    display: inline-block;
    line-height: $lineHeight;
  }

  &__nav {
    display: inline-block;
  }

  &__link {
    border-left: 1px solid $color;
    color: $color;
    cursor: pointer;
    font-size: $f-size;
    padding-left: 5px;
    text-decoration: none;
    &:hover {
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}